@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Courgette);
@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,700);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans);
@font-face {
  font-family: Montserrat-Regular;
  src: url(../fonts/montserrat/Montserrat-Regular.ttf);
}
@font-face {
  font-family: Montserrat-Bold;
  src: url(../fonts/montserrat/Montserrat-Bold.ttf);
}
@font-face {
  font-family: Courgette-Regular;
  src: url(../fonts/courgette/Courgette-Regular.ttf);
}
@font-face {
  font-family: Poppins-Regular;
  src: url(../fonts/poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: Poppins-Medium;
  src: url(../fonts/poppins/Poppins-Medium.ttf);
}
@font-face {
  font-family: Poppins-Bold;
  src: url(../fonts/poppins/Poppins-Bold.ttf);
}
@font-face {
  font-family: Poppins-Light;
  src: url(../fonts/poppins/Poppins-Light.ttf);
}
@font-face {
  font-family: NotoSans-Regular;
  src: url(../fonts/notosans/NotoSans-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  height: 100%;
  font-family: Poppins, sans-serif;
  font-weight: 400;
}
a {
  font-family: Poppins;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.7;
  color: #666;
  margin: 0;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}
a:focus {
  outline: none !important;
}
a:hover {
  text-decoration: none;
  color: #2a8ebd;
}
h2,
h3,
h4 {
  margin: 0;
}
p {
  font-family: Poppins;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.7;
  color: #666;
  margin: 0;
}
ul,
li {
  margin: 0;
  list-style-type: none;
}
input {
  outline: none;
  /*border: none !important;*/
}
textarea {
  outline: none;
}
select:focus,
textarea:focus,
input:focus {
  border-color: transparent !important;
  box-shadow: 0 0 0 2px #2a8ebd;
  -moz-box-shadow: 0 0 0 2px #2a8ebd;
  -webkit-box-shadow: 0 0 0 2px #2a8ebd;
  -o-box-shadow: 0 0 0 2px #2a8ebd;
  -ms-box-shadow: 0 0 0 2px #2a8ebd;
}
input:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus:-moz-placeholder {
  color: transparent;
}
input:focus::-moz-placeholder {
  color: transparent;
}
input:focus:-ms-input-placeholder {
  color: transparent;
}
textarea:focus::-webkit-input-placeholder {
  color: transparent;
}
textarea:focus:-moz-placeholder {
  color: transparent;
}
textarea:focus::-moz-placeholder {
  color: transparent;
}
textarea:focus:-ms-input-placeholder {
  color: transparent;
}
select::-webkit-select-placeholder {
  color: #aaa;
}
select:-moz-placeholder {
  color: #aaa;
}
select::-moz-placeholder {
  color: #aaa;
}
select:-ms-input-placeholder {
  color: #aaa;
}
input::-webkit-input-placeholder {
  color: #aaa;
}
input:-moz-placeholder {
  color: #aaa;
}
input::-moz-placeholder {
  color: #aaa;
}
input:-ms-input-placeholder {
  color: #aaa;
}
textarea::-webkit-input-placeholder {
  color: #aaa;
}
textarea:-moz-placeholder {
  color: #aaa;
}
textarea::-moz-placeholder {
  color: #aaa;
}
textarea:-ms-input-placeholder {
  color: #aaa;
}
button {
  outline: none !important;
  border: none;
  background: transparent;
}
button:hover {
  cursor: pointer;
}
iframe {
  border: none !important;
}
.container {
  max-width: 1200px;
}
.animsition-loading-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.cp-spinner {
  width: 40px;
  height: 40px;
  display: inline-block;
  box-sizing: border-box;
  position: relative;
}
.cp-meter {
  border-radius: 50%;
  border-top: solid 6px #2a8ebd;
  border-right: solid 6px #2a8ebd;
  border-bottom: solid 6px #2a8ebd;
  border-left: solid 6px #2a8ebd;
  width: 48px;
  height: 48px;
  display: inline-block;
  box-sizing: border-box;
}
.cp-meter:before {
  border-radius: 3px;
  content: " ";
  width: 6px;
  height: 12px;
  display: inline-block;
  box-sizing: border-box;
  background-color: #2a8ebd;
  position: absolute;
  top: 5px;
  left: 16px;
  transform-origin: center bottom;
  animation: cp-meter-animate-before 1s linear infinite;
}
@keyframes cp-meter-animate-before {
  0% {
    transform: rotate(-45deg);
  }

  100% {
    transform: rotate(315deg);
  }
}
.btn-back-to-top {
  display: none;
  position: fixed;
  width: 40px;
  height: 40px;
  bottom: 40px;
  right: 40px;
  background-color: #000;
  opacity: 0.5;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  border-radius: 4px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}
.symbol-btn-back-to-top {
  font-size: 22px;
  color: #fff;
  line-height: 1em;
}
.btn-back-to-top:hover {
  opacity: 1;
  cursor: pointer;
}
@media (max-width: 576px) {
  .btn-back-to-top {
    bottom: 15px;
    right: 15px;
  }
}
input[type="date" i] {
  padding: 14px;
}
.daterangepicker {
  width: 339px;
  box-shadow: 0 3px 25px rgba(0, 0, 0, 0.1);
  border: none;
  margin-top: 10px;
}
.wrap-menu-header {
  position: absolute;
  width: 100%;
  height: 120px;
  top: 0;
  left: 0;
  z-index: 100;
  border-top: 5px solid #2a8ebd;
}
.wrap_header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  background-color: transparent;
  justify-content: space-between;
  align-items: center;
}
.header-fixed .wrap-menu-header {
  position: fixed;
  height: 100px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.logo {
  height: 50px;
}
.logo > a {
  display: block;
  height: 100%;
}
.logo > a > img {
  width: auto;
  max-height: 100%;
  vertical-align: middle;
}

.wrap_menu {
  height: 100%;
}
.menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.main_menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main_menu li {
  display: block;
  position: relative;
}
.main_menu > li {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.main_menu > li > a {
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  padding: 15px;
}
.header-fixed .main_menu > li > a {
  color: #222;
}
.main_menu > li:hover > a {
  color: #2a8ebd;
  text-decoration: none;
}
.social a {
  font-size: 15px;
  color: #fff;
}
.header-fixed .social a {
  color: #222;
}
.social a:hover {
  color: #2a8ebd;
}
.btn-show-sidebar {
  width: 26px;
  height: 15px;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
}
.header-fixed .btn-show-sidebar {
  border-top: 2px solid #222;
  border-bottom: 2px solid #222;
}
.btn-show-sidebar:hover {
  border-top: 2px solid #2a8ebd;
  border-bottom: 2px solid #2a8ebd;
}
@media (max-width: 1200px) {
  .main_menu > li {
    margin-left: 4px;
    margin-right: 4px;
  }
  .social {
    padding-right: 0;
  }
  .logo {
    height: 45px;
  }
}
@media (max-width: 992px) {
  .wrap_menu {
    display: none;
  }
  .wrap_header {
    height: 100px;
  }
}
.sidebar {
  position: fixed;
  z-index: 1200;
  width: 390px;
  height: 100%;
  overflow: auto;
  background-color: #fff;
  top: 0;
  right: -390px;
}
@media (max-width: 576px) {
  .sidebar {
    width: 300px;
  }
}
.show-sidebar {
  right: 0;
}
.btn-hide-sidebar {
  position: absolute;
  font-size: 20px;
  color: #111;
  padding: 10px;
  top: 20px;
  right: 20px;
}
.overlay-sidebar {
  position: fixed;
  z-index: 1150;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  visibility: hidden;
}
.show-overlay-sidebar {
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.65);
}
.item-gallery-sidebar {
  display: block;
  position: relative;
  width: calc((100% - 30px) / 3);
  margin: 5px;
}
.item-gallery-sidebar::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.item-gallery-sidebar:hover:after {
  background-color: rgba(236, 29, 37, 0.7);
}
@media (max-width: 576px) {
  .wrap_header {
    height: 80px;
  }
  .gallery-sidebar {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.wrap-slick1,
.wrap-slick2,
.wrap-slick3 {
  position: relative;
}
.item-slick1,
.item-slick2,
.item-slick3 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.item-slick1 {
  height: 100vh;
}
.arrow-slick1,
.arrow-slick2,
.arrow-slick3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  font-size: 18px;
  color: #fff;
  position: absolute;
  background-color: #000;
  opacity: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  border-radius: 50%;
  z-index: 200;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.wrap-slick1:hover .arrow-slick1,
.wrap-slick2:hover .arrow-slick2,
.wrap-slick3:hover .arrow-slick3 {
  opacity: 0.5;
}
.arrow-slick1:hover,
.arrow-slick2:hover,
.arrow-slick3:hover {
  background-color: #1f77af;
}
.next-slick1,
.next-slick2,
.next-slick3 {
  right: 50px;
  left: auto;
}
.prev-slick1,
.prev-slick2,
.prev-slick3 {
  left: 50px;
  right: auto;
}
@media (max-width: 576px) {
  .next-slick1 {
    right: 15px;
  }
  .prev-slick1 {
    left: 15px;
  }
}
.wrap-slick1-dots {
  position: absolute;
  width: 100%;
  height: 65px;
  left: 0;
  bottom: 0;
}
.slick1-dots {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.slick1-dots li {
  padding-left: 3px;
  padding-right: 3px;
}
.slick1-dots li button {
  display: block;
  color: transparent;
  background-color: #958e88;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid transparent;
  background-clip: padding-box;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.slick1-dots li button:hover {
  border: 3px solid #fff;
  background-color: #d41b22;
}
.wrap-content-slide1{
    background-color: rgba(0, 0, 0, 0.3);
}
.wrap-content-slide1 .tit1 {
    font-size: 4em;
  }
@media (max-width: 768px) {
  .wrap-content-slide1 .tit1 {
    font-size: 2em;
  }
  .wrap-content-slide1 .txt1 {
    font-size: 60px;
  }
}
@media (max-width: 576px) {
  .wrap-content-slide1 .tit1 {
    font-size: 1.5em;
  }
  .wrap-content-slide1 .txt1 {
    font-size: 50px;
  }
}
.btn1 {
  background: #fff;
  border-radius: 10px;
}
.btn1:hover {
  background-color: #2a8ebd;
  color: #fff;
}
.btn3 {
  background: #111;
  border-radius: 10px;
}
.btn3:hover {
  background-color: #2a8ebd;
  color: #fff;
}
.btn2 {
  background-color: #fff;
  border-radius: 10px;
  opacity: 0.9;
}
.btn2:hover {
  background-color: #2a8ebd;
  color: #fff;
}
.header-intro {
  background-attachment: fixed;
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
}
.arrow-slick2 {
  top: 53%;
}
@media (max-width: 576px) {
  .next-slick2 {
    right: 15px;
  }
  .prev-slick2 {
    left: 15px;
  }
}
.wrap-slick2-dots {
  position: absolute;
  width: 100%;
  height: 128px;
  left: 0;
  bottom: 0;
}
.slick2-dots {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.slick2-dots li {
  padding-left: 5px;
  padding-right: 5px;
}
.slick2-dots li button {
  display: block;
  color: transparent;
  background-color: #ccc;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid transparent;
  background-clip: padding-box;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.slick2-dots li button:hover {
  border: 1px solid #d41b22;
  background-color: #d41b22;
}
.arrow-slick3 {
  top: 40%;
}
@media (max-width: 576px) {
  .next-slick3 {
    right: 15px;
  }
  .prev-slick3 {
    left: 15px;
  }
}
.wrap-slick3-dots {
  width: 100%;
  height: 128px;
}
.slick3-dots {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.slick3-dots li {
  padding-left: 5px;
  padding-right: 5px;
}
.slick3-dots li button {
  display: block;
  color: transparent;
  background-color: #ccc;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid transparent;
  background-clip: padding-box;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.slick3-dots li button:hover {
  border: 1px solid #d41b22;
  background-color: #d41b22;
}
.blo2 {
  border-radius: 10px;
  overflow: hidden;
}
.wrap-pic-blo2 {
  display: block;
  width: 50%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.wrap-text-blo2 {
  background-color: #fff;
  width: 50%;
  min-height: 390px;
}
.effect1 {
  background-color: #cf2227;
  opacity: 0.9;
  position: relative;
}
.effect1 .txt-effect1 {
  width: 390px;
  height: 50px;
  transform-origin: center center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotateZ(90deg);
  -moz-transform: translate(-50%, -50%) rotateZ(90deg);
  -ms-transform: translate(-50%, -50%) rotateZ(90deg);
  -o-transform: translate(-50%, -50%) rotateZ(90deg);
  transform: translate(-50%, -50%) rotateZ(90deg);
}
@media (max-width: 992px) {
  .blo2 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .wrap-pic-blo2 {
    width: 100%;
    height: 390px;
  }
  .wrap-text-blo2 {
    width: 100%;
    min-height: 390px;
  }
  .time-event {
    width: 100%;
    height: auto;
  }
  .effect1 .txt-effect1 {
    width: 100%;
    height: 50px;
    padding: 10px;
    transform-origin: center center;
    position: unset;
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
}
@media (max-width: 576px) {
  .blo2 {
    width: 100%;
  }
  .wrap-pic-blo2 {
    width: 100%;
    height: 364px;
  }
}
.section-video {
  background-attachment: fixed;
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
}
.content-video {
  background-color: rgba(0, 0, 0, 0.5);
}
body {
  padding-right: 0 !important;
}
.modal {
  padding: 0 !important;
  z-index: 1160;
  overflow-x: hidden;
  overflow-y: auto !important;
}
#modal-video-01 {
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1250;
}
#modal-video-01 .modal-dialog {
  max-width: 100% !important;
  height: 100% !important;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
}
.wrap-video-mo-01 {
  width: 854px;
  height: auto;
  position: relative;
  margin: 15px;
}
.video-mo-01 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: all 2s;
  -o-transition: all 2s;
  -moz-transition: all 2s;
  transition: all 2s;
}
.video-mo-01 iframe {
  width: 100%;
  height: 100%;
}
.close-mo-video-01 {
  font-size: 50px;
  color: #fff;
  opacity: 0.6;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1250;
  width: 60px;
  height: 60px;
  top: 0;
  right: 0;
}
.close-mo-video-01:hover {
  cursor: pointer;
  opacity: 1;
}
.time-blog {
  position: absolute;
  left: 14px;
  bottom: 11px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 3px 15px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 12px;
  color: #fff;
  border-radius: 4px;
}
.item-gallery-footer {
  display: block;
  position: relative;
  width: calc((100% - 50px) / 4);
  margin-right: 10px;
  margin-bottom: 10px;
}
.item-gallery-footer::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.item-gallery-footer:hover:after {
  background-color: rgba(236, 29, 37, 0.7);
}
.bg-title-page {
  width: 100%;
  min-height: 545px;
  padding-left: 15px;
  padding-right: 15px;
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
}
@media (max-width: 576px) {
  .bg-title-page .tit6 {
    font-size: 30px;
  }
}
.line-item-mainmenu {
  flex-grow: 1;
  height: 2px;
  margin-bottom: 5px;
  margin-right: 10px;
  margin-left: 10px;
}
@media (max-width: 576px) {
  .line-item-mainmenu {
    display: none;
  }
  .price-item-mainmenu {
    padding-top: 5px;
  }
  .name-item-mainmenu {
    width: 100%;
  }
  .text-blo3 {
    width: 100%;
  }
}
.label-gallery {
  border-radius: 10px;
  padding: 2px 11px;
  margin: 5px 0;
}
.label-gallery:hover {
  background-color: #111;
  color: #fff;
}
.is-actived {
  background-color: #111;
  color: #fff;
}
.wrap-gallery {
  width: 100%;
  box-sizing: border-box;
}
.item-gallery {
  width: calc((100% - 140px) / 3);
  margin: 30px 15px;
  position: relative;
}
.overlay-item-gallery {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
}
.overlay-item-gallery:hover {
  opacity: 1;
}
.btn-show-gallery {
  font-size: 18px;
  color: #222;
  width: 60px;
  height: 60px;
  text-align: center;
  border-radius: 50%;
  background-color: #eee;
}
@media (max-width: 768px) {
  .item-gallery {
    width: calc((100% - 110px) / 2);
  }
}
@media (max-width: 576px) {
  .item-gallery {
    width: calc((100% - 30px) / 1);
  }
  .wrap-gallery {
    padding-left: 0;
    padding-right: 0;
  }
}
.item-pagination {
  font-family: Poppins;
  font-weight: 400;
  font-size: 13px;
  color: gray;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid #e6e6e6;
  margin: 6px;
}
.item-pagination:hover {
  background-color: #333;
  color: #fff;
}
.active-pagination {
  background-color: #333;
  color: #fff;
}
.btn-search-sidebar2 {
  position: absolute;
  top: 0;
  right: 0;
  width: 46px;
  height: 46px;
  background-color: #333;
  color: #fff;
  font-size: 18px;
  box-shadow: 0 0 0 1px #333;
  -moz-box-shadow: 0 0 0 1px #333;
  -webkit-box-shadow: 0 0 0 1px #333;
  -o-box-shadow: 0 0 0 1px #333;
  -ms-box-shadow: 0 0 0 1px #333;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.btn-search-sidebar2:hover {
  color: #2a8ebd;
}
.input-search-sidebar2 {
  width: 100%;
  height: 100%;
}
.date-blo4 {
  width: 75px;
  height: 82px;
  position: absolute;
  top: 20px;
  left: 20px;
  border-radius: 10px;
  background-color: #2a8ebd;
}
